@use "setting" as *;


//! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

// Reset box-model and set borders */
// ============================================ */
/* reset.cssここから */
*,
::before,
::after {
    box-sizing: border-box;
}

// Sections */
// ============================================ */

body {
    margin: 0;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

// Vertical rhythm */
// ============================================ */

p,
iframe,
figure
 {
    margin: 0;
}

// Headings */
// ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
}

// Lists (enumeration) */
// ============================================ */

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Grouping content */
// ============================================ */

hr {
    height: 0; // 1 */
    overflow: visible; // 2 */
    margin: 0;
    padding: 0;
    border: 0;
    overflow: visible;
}

// Text-level semantics */
// ============================================ */

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

b,
strong {
    font-weight: bolder;
}

// Embedded content */
// ============================================ */

img,
embed,
object,
iframe {
    vertical-align: bottom;
}

