@use "setting" as *;

// headerの高さ指定
$header-height-sp: vw(80);

#hamburger,
.hamburger__bar {
    display: inline-block;
    transition: all $time;
    box-sizing: border-box;
    display: none;
    @media (max-width: $sp) {
        display: block;
    }
}
#hamburger {
    position: absolute;
    width: $header-height-sp;
    height: $header-height-sp;
    background: none;
    border: none;
    appearance: none;
    right: 5vw;
    cursor: pointer;
    z-index: z(nav);
}
.hamburger__bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: vw(3);
    background-color: red;
    border-radius: 4px;
}
.barTop {
    top: 25%;
}
.barMiddle {
    top: 45%;
}
.barBottom {
    top: 65%;
}

#hamburger::after {
    position: absolute;
    left: 0;
    bottom: -1vw;
    content: "MENU";
    display: block;
    width: 100%;
    color: red;
    font-size: 3vw;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    transition: all $time;
}
#hamburger.active::after {
    content: "CLOSE";
    bottom: -1vw;
}
#hamburger.active .barTop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
#hamburger.active .barMiddle {
    opacity: 0;
}
#hamburger.active .barBottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

// ハンバーガーメニューオープン時、背景スクロール固定
.no-scroll {
    overflow: hidden;
}
