@use "setting" as *;

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: c(t2);
}
.br {
    display: block;
    @media not all and (max-width: $breakpoint), print {
        display: none;
    }
}
li {
    list-style-type: none; 
}

.bgcY {
    background-color: c(y);

    @media not all and (max-width: $breakpoint), print{
        padding-top: 50px;
    }
}
.bgcB {
    @media not all and (max-width: $breakpoint), print{
        background-color: c(b2);
    }

}
.bgcG {
    @media not all and (max-width: $breakpoint), print{
        background-color: c(g2);
    }

}
.bgcI {
        @media not all and (max-width: $breakpoint), print{
            background-color: c(i);
        }

}