@use "setting" as *;

// p {
//     font-feature-settings: 'palt';
// }

.br {
    display: block;
    @media not all and (max-width: $breakpoint), print {
        display: none;
    }
}
li {
    list-style-type: none; 
}
.bold {
    font-weight: bold;
}